body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.hero {
  background: url(../assets/storefront.jpg) -70px;
  background-size: canoes;
  height: 350px;
}

.heroP {
  font-size: 28px;
}

#search {
  background-color: white;
}
