body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.parallax-container {
     height: 350px;
   }

h3{
  font-size: 32px;
}

.logo {
  height: 70px;
}

#userQuery {
  background-color: white;
  box-shadow: 1px 1px 3px 1px #3c3a3b;
}

/* HOT DEALS SECTION */
#hotdeals {
  background-color: white;
  margin: 0px;
  min-height: 200px;
  padding: 10px;
  width: 100%;
}

.dealcard {
  height: 300px;
}

.dealimage {
  height: 55%;
}

.dealcontent {
  height: 45%;
}

.cardTitle {
  font-size: 12px !important;
  line-height: normal !important;
  font-weight: 700 !important;
}

.cardText {
  font-size: 12px !important;
  line-height: 1.25;
  color: lightcoral;
}

.lowPad {
  padding: 10px 15px !important;
}


.full-height {
  height: 100%;
}

.no-margin {
  margin: 0px;
}

.toRight {
  display: flex;
  justify-content: flex-end;
}

.flexed {
  display: flex;
  justify-content: space-around;
}
