body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.parallax-container {
     height: 350px;
   }

h3{
  font-size: 32px;
}

.logo {
  height: 70px;
}

#userQuery {
  background-color: white;
  box-shadow: 1px 1px 3px 1px #3c3a3b;
}

.full-height {
  height: 100%;
}

.no-margin {
  margin: 0px;
}

.toRight {
  display: flex;
  justify-content: flex-end;
}

.flexed {
  display: flex;
  justify-content: space-around;
}
