@media (max-width: 700px) {

  h5 {
   font-size: 1.2rem;
   font-weight: 600;
  }

  h4 {
    font-size: 0.9rem;
  }

  .parallax-container {
    height: 300px;
  }

  .tbMargin {
    margin: 2px 0px;
    padding: 0px;
  }

  .logo {
    height: 45px;
  }

  /* HERO SECTION */
  h3 {
    font-size: 1.1rem;
  }

  .heroHeader {
    height: 250px;
  }

  .heroSection {
    align-items: center;
    background-color: rgba(180, 180, 180, .4);
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }

  #submitButton {
    font-size: 0.6rem;
    padding: 0px 5px;
    width: 80px;
  }

  .tab a.active {
    color: #ee6e73;
    font-size: 0.9rem !important;
    font-weight: 600;
  }

  .tab a {
    font-size: 0.8rem !important;
  }

  /* MAP SECTION */
  #mapContainer {
    background-color: white;
    margin: 0px;
    min-height: 20px;
    padding: 15px 25px 15px 25px;
    width: 100%;
  }

  #map {
    background-color: grey;
    min-height: 44vw;
    width: 100%;
  }

  /* INFO CARD STYLES */
  .infoTitle {
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: underline;
  }

  .infoDescription {
    font-size: 0.56rem;
  }

  .infoDescription a {
    font-size: 0.5rem;
    font-style: italic;
  }

  .infoContainer span {
    margin: 0px 3px;
  }

  /* DESCRIPTION SECTIONS */
  .miserDescription {
    font-size: 0.7rem;
    margin-bottom: 0px;
  }

  .descCol {
    height: 200px;
  }

  .descText {
    font-size: 0.7rem;
    line-height: 1.5;
    padding: 2px 4px;
  }

  .descImg {
    height: 100%;
  }

  /* DEAL CARD STYLES */
  .cardTitle {
    font-size: 0.4rem !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }

  .cardText {
    color: lightcoral;
    font-size: 0.3rem !important;
  }

  .lowPad {
    padding: 1px 3px !important;
  }

  .smallHide {
    display: none;
    width: 0px
  }

  .dealcard {
    height: 100px;
  }

  .dealimage {
    height: 55%;
  }

  .dealcontent {
    height: 45%;
    line-height: 1px;
    margin: 0px;
  }

  #deals span {
    font-size: 0.7rem;
    font-weight: 500;
  }

  .cardDescription {
    font-size: 0.55rem;
  }

  /* COLLAPSIBLE STYLES */
  .collapseLabel {
    font-size: 10px;
    margin: 0px;
    position: relative;;
    left: 10px;
  }

  /* FOOTER STYLES */
  .page-footer p {
    font-size: 0.9rem;
  }

  .page-footer span, .page-footer a {
    font-size: 0.8rem;
  }

  /* INFO STYLES */
  .hideToast {
    display: none;
  }

  #help {
    position: relative;
    left: 190px;
    top: 50px;
  }
}
